body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}
 
body {
    font-family: 'Ubuntu', sans-serif;
}
 
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    width: 100%;
}
 
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.navbar, .dropdown, .dropbtn, .dropdown-content, .dropdown-content a {
    /* Add specific styles for navbar and dropdown */
}
 
main {
    padding: 30px 0;
    width: 100%;
    box-sizing: border-box;
}
 
h1, article h2, h2 {
    color: #333;
    text-align: center;
}
 
h1 {
    margin-bottom: 30px;
}
 
h2 {
}
 
article h2 {
}
 
article {
    margin-bottom: 45px;
    text-align: justify;
    width: 100%;
}
 
article p {
    text-align: justify;
    width: 100%;
    margin-bottom: 45px;
}
 
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    font-size: 150%;
}
 
.article, .left, .right {
    flex: 1;
    flex-wrap: wrap;
}
 
.dropdown {
    position: relative;
    display: inline-block;
}
 
.dropbtn {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 192px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
 
.dropdown-content a {
    color: #333;
    padding: 18px 24px;
    font-size: 20px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content a:hover {
    background-color: #ddd;
}
 
.container {
    overflow: auto;
}
 
.img-left {
    float: left;
    margin-right: 10px;
}
 
.history{
    display: flex;
    flex-direction: row-reverse;
}
.history > div{
    flex: 1;
}
.text{
 
}
.picture{
    display: flex;
    flex-direction: column;
}
/* FILEPATH: /c:/Users/Vincent/OneDrive - Emplo IT/Documents/co working project/co-working/nl/about/about.css */

.picture img {
    width: 100%;
    height: auto;
}
