* {
    margin: 0;
}

html {
    font-family: "ubuntu", sans-serif;
    background-color: #fdfdfd;
    color: #222;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    height: 3rem;
    background-color: #333;
}

.container a:link {
    font-family: 'ubuntu', sans-serif;
    text-decoration: none;
}



.main {
    padding: 5px;
    background: linear-gradient(to bottom, #3700ff 0%, #99e7ff 100%) no-repeat fixed;
}


.taalkiezer {
    font-family: 'ubuntu', sans-serif;
    font-size: 1em;
    text-align: center;
    padding-top: 22.5em;
    color: #333;
}


button {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
}


button a {
    padding: 1rem;
    max-width: min-content;
    color: #333;
}

button:hover {
    text-decoration: underline;
}



.navbar {
    overflow: hidden;
    font-family: "ubuntu", sans-serif;
    display: flex;
    justify-content: end;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #504f4f;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #000000;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem;
    background-color: #6d0000;
    transform: skew(30deg);

}

footer {
    position: absolute;
    bottom: 0;
    height: auto;
    background-color: #333333;
    width: 100%;
}

footer .container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

footer a:hover {
    text-decoration: underline;
}

.footerlinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.iframe-container {
    padding: 1rem;
}