* {
    font-family: 'ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

header{
    padding: 0.5rem;
    height: 3rem;
    background-color: #333;
}
.navbar {
    overflow: hidden;
    font-family: "ubuntu", sans-serif;
    display: flex;
    justify-content: end;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #504f4f;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #000000;
}

img {
    width: 100%;
    height: auto;
}

.taalkiezer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 22rem;
    margin-bottom: 24.9rem;
}

.taalkiezer h1{
    font-size: 2rem;
    color: #f7f7f7;
}

.taalkeuzes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
    gap: 2rem;
}

.taalkeuzes a{
    text-decoration: none;
    color: #000000;
    font-size: 1.7rem;
}

.taalkeuzes button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.taalkeuzes button:hover{
    background-color: #c6c4c4;
}

.landingpage{
    background: linear-gradient(180deg, rgba(32,31,31,1) 0%, rgba(74,72,72,1) 50%);;
}

