.left{
    display: block;
    font-size: 24px;
}
.left div{
    display: flex;
    align-items: center;
}
.right{
    display: block;
    font-size: 24px;
}
.right div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    order: -1;
}

img{
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}

@keyframes fade-in{
    from {scale: .8; opacity: 0;}
    to {scale: 1; opacity: 1;}
}

.left img{
    width: 480px;
    height: 240px;
    object-fit: none;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.right img{
    width: 480px;
    height: 240px;
    object-fit: fill;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
h2{
    margin: 2rem;
    font-size: 48px;
    display: flex;
    justify-content: center;
}
.intro{
    margin: 2rem;
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 56px;
    margin-top: 1rem
}
.intro p{
    text-align: center;
    font-size: 20px;
}



footer {
    margin-top: 4rem;
    bottom: 0;
    background-color: #333333;
    width: 100%;
}

footer .container {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

footer a:hover {
    text-decoration: underline;
}

.footerlinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
}