*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'ubuntu', sans-serif;
}

/*nav bar Benten*/

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

header{
    height: 3rem;
    background-color: #333;
}

.container a:link {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}
.navbar {
    overflow: hidden;
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: end;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #504f4f;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #000000;
}

/* automodellen */
.automodellen {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin: 0;

}

.automodellen li {
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 31%;
    width: 31%;
    height: 0%;
    background-color: #f7f7f7;
}

a{
    text-decoration: none;
    color: rgb(12, 11, 11);
}
.automodellen li img {
    order: -1;
    width: 100%;
}

.automodellen li:hover {
    min-height: 1%;
    min-width: 32%;
}

.automodellen li:hover .A6::after {
    content: "De Audi A6 is een elegante en luxe middenklasse sedan, gekenmerkt door verfijnd design, hoogwaardige materialen en geavanceerde technologieën.";
}

.automodellen li:hover .R8::after {
    content: "De Audi R8 is een high-performance sportwagen die indruk maakt met zijn adembenemend design, krachtige prestaties en geavanceerde technologieën.";
}

.automodellen li:hover .etron::after {
    content: "De Audi e-tron is een geavanceerde elektrische SUV die indruk maakt met zijn elegante design, krachtige elektrische aandrijving en innovatieve technologieën.";
}

.automodellen li:hover .RS5::after {
    content: "De Audi RS5 is een opwindende high-performance sportwagen met een perfecte balans tussen verbluffende prestaties, dynamisch design en geavanceerde technologieën.";
}

.automodellen li:hover .RS6::after {
    content: "De Audi RS6 is een indrukwekkende high-performance sportwagen met een combinatie van krachtige prestaties, ruimte en verfijnde luxe.";
}

.automodellen li:hover .SQ8::after {
    content: "De Audi SQ8 is een krachtige en stijlvolle SUV, waarbij indrukwekkende prestaties, luxe comfort en geavanceerde technologie samenkomen.";
}

.content{
    font-weight: 0;
}